#main-livesearch {
  font-family: 'PT Sans', Verdana, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4em;
  color: #616161;
  position: relative;
  width: 70%;
  margin: 10px auto 60px;

  & * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

  .title {
    line-height: 1.2em;
    position: relative;
    text-align: center;
  }
  .spinner {
    display: none;
    position: absolute;
    right: 8px;
    top: 30px;
  }

  .livesearch-input-wrap {
    position: relative;
  }

  input#search {
    width: 100%;
    height: 46px;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 4px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    outline: none;
    border: 1px solid #ababab;
    font-size: 20px;
    line-height: 25px;
    color: #ababab;
    &:hover,
    &:focus {
      color: #3b3b3b;
      border: 1px solid #36a2d2;
      -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
    }
  }

  ul#livesearch {
    display: none;
    position: absolute;
    background: #FFF;
    list-style: none;
    width: 100%;
    margin: 0;
    border: 1px solid #ababab;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: rgba(0, 0, 0, .2) 0 1px 3px;
    -moz-box-shadow: rgba(0,0,0,.2) 0 1px 3px;
    box-shadow: rgba(0, 0, 0, .2) 0 1px 3px;

    li:first-child a {
      border-top: none;
    }

    a {
      position: relative;
      line-height: 1.4;
      display: block;
      padding: 10px 15px 10px 30px;
      border-top: 1px solid #cdcdcd;
      transition: background-color .3s ease-in-out;
      -moz-transition: background-color .3s ease-in-out;
      -webkit-transition: background-color .3s ease-in-out;

      &:hover {
        background-color: #F7F7F7;
      }

      &:before {
        content: "";
        background-color: #A6EEF0;
        position: absolute;
        left: 12px;
        top: 16px;
        width: 6px;
        height: 6px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
      }
    }

    .nosuggest {
      @extend a;

      &:before {
        background-color: rgba(255, 255, 255, 0);
      }
    }

  }
}
