
#bowlG{
  position:relative;
  width:18px;
  height:18px;
}

#bowl_ringG{
  position:absolute;
  width:18px;
  height:18px;
  border:2px solid #E0E0E0;
  -moz-border-radius:18px;
  -webkit-border-radius:18px;
  -ms-border-radius:18px;
  -o-border-radius:18px;
  border-radius:18px;
}

.ball_holderG{
  position:absolute;
  width:5px;
  height:14px;
  left:4px;
  top:0px;
  -moz-animation-name:ball_moveG;
  -moz-animation-duration:1.3s;
  -moz-animation-iteration-count:infinite;
  -moz-animation-timing-function:linear;
  -webkit-animation-name:ball_moveG;
  -webkit-animation-duration:1.3s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:linear;
  -ms-animation-name:ball_moveG;
  -ms-animation-duration:1.3s;
  -ms-animation-iteration-count:infinite;
  -ms-animation-timing-function:linear;
  -o-animation-name:ball_moveG;
  -o-animation-duration:1.3s;
  -o-animation-iteration-count:infinite;
  -o-animation-timing-function:linear;
  animation-name:ball_moveG;
  animation-duration:1.3s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}

.ballG{
  position:absolute;
  left:0px;
  top:-4px;
  width:7px;
  height:7px;
  background:#FFFFFF;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  -ms-border-radius:6px;
  -o-border-radius:6px;
  border-radius:6px;
}

@-moz-keyframes ball_moveG{
  0%{
    -moz-transform:rotate(0deg)}

  100%{
    -moz-transform:rotate(360deg)}

}

@-webkit-keyframes ball_moveG{
  0%{
    -webkit-transform:rotate(0deg)}

  100%{
    -webkit-transform:rotate(360deg)}

}

@-ms-keyframes ball_moveG{
  0%{
    -ms-transform:rotate(0deg)}

  100%{
    -ms-transform:rotate(360deg)}

}

@-o-keyframes ball_moveG{
  0%{
    -o-transform:rotate(0deg)}

  100%{
    -o-transform:rotate(360deg)}

}

@keyframes ball_moveG{
  0%{
    transform:rotate(0deg)}

  100%{
    transform:rotate(360deg)}

}
