/******************************************************************
This is the CSS Reset
******************************************************************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, #main-livesearch ul#livesearch .nosuggest, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-weight: normal;
  -webkit-font-smoothing: antialiased; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a, #main-livesearch ul#livesearch .nosuggest {
  color: #1397d2;
  outline: none;
  text-decoration: none; }
  a:visited, #main-livesearch ul#livesearch .nosuggest:visited {
    color: #495cd2; }

/******************************************************************
Print Styles
******************************************************************/
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  a, #main-livesearch ul#livesearch .nosuggest, a:visited, #main-livesearch ul#livesearch .nosuggest:visited {
    text-decoration: underline; }

  a[href]:after, #main-livesearch ul#livesearch [href].nosuggest:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after, .ir #main-livesearch ul#livesearch .nosuggest:after, #main-livesearch ul#livesearch .ir .nosuggest:after, a[href^="javascript:"]:after, #main-livesearch ul#livesearch [href^="javascript:"].nosuggest:after, a[href^="#"]:after, #main-livesearch ul#livesearch [href^="#"].nosuggest:after {
    content: ""; }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
/******************************************************************
Text Selection Styles
******************************************************************/
/* Safari, Chrome, iPhones, iPads */
::selection {
  background: #4096ee;
  color: #fff; }

::-moz-selection {
  background: #4096ee;
  color: #fff; }

::-webkit-selection {
  background: #4096ee;
  color: #fff; }

/******************************************************************
General CSS
******************************************************************/
h1 {
  font-weight: bold;
  line-height: 1.6em;
  color: #616161;
  text-decoration: none;
  font-size: 20px; }

h2 {
  line-height: 1.6em;
  color: #616161;
  text-decoration: none;
  font-size: 16px; }

h3 {
  line-height: 1.6em;
  color: #616161;
  text-decoration: none;
  font-size: 14px; }

h4 {
  line-height: 1.6em;
  color: #616161;
  text-decoration: none;
  font-size: 12px; }

#main-livesearch {
  font-family: 'PT Sans', Verdana, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4em;
  color: #616161;
  position: relative;
  width: 70%;
  margin: 10px auto 60px; }
  #main-livesearch * {
    box-sizing: border-box;
    -moz-box-sizing: border-box; }
  #main-livesearch .title {
    line-height: 1.2em;
    position: relative;
    text-align: center; }
  #main-livesearch .spinner {
    display: none;
    position: absolute;
    right: 8px;
    top: 30px; }
  #main-livesearch .livesearch-input-wrap {
    position: relative; }
  #main-livesearch input#search {
    width: 100%;
    height: 46px;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 4px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    outline: none;
    border: 1px solid #ababab;
    font-size: 20px;
    line-height: 25px;
    color: #ababab; }
    #main-livesearch input#search:hover, #main-livesearch input#search:focus {
      color: #3b3b3b;
      border: 1px solid #36a2d2;
      -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 white;
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 white;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 white; }
  #main-livesearch ul#livesearch {
    display: none;
    position: absolute;
    background: #FFF;
    list-style: none;
    width: 100%;
    margin: 0;
    border: 1px solid #ababab;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 3px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 1px 3px; }
    #main-livesearch ul#livesearch li:first-child a, #main-livesearch ul#livesearch li:first-child .nosuggest {
      border-top: none; }
    #main-livesearch ul#livesearch a, #main-livesearch ul#livesearch .nosuggest {
      position: relative;
      line-height: 1.4;
      display: block;
      padding: 10px 15px 10px 30px;
      border-top: 1px solid #cdcdcd;
      transition: background-color .3s ease-in-out;
      -moz-transition: background-color .3s ease-in-out;
      -webkit-transition: background-color .3s ease-in-out; }
      #main-livesearch ul#livesearch a:hover, #main-livesearch ul#livesearch .nosuggest:hover {
        background-color: #F7F7F7; }
      #main-livesearch ul#livesearch a:before, #main-livesearch ul#livesearch .nosuggest:before {
        content: "";
        background-color: #A6EEF0;
        position: absolute;
        left: 12px;
        top: 16px;
        width: 6px;
        height: 6px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%; }
    #main-livesearch ul#livesearch .nosuggest:before {
      background-color: rgba(255, 255, 255, 0); }

#bowlG {
  position: relative;
  width: 18px;
  height: 18px; }

#bowl_ringG {
  position: absolute;
  width: 18px;
  height: 18px;
  border: 2px solid #E0E0E0;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  border-radius: 18px; }

.ball_holderG {
  position: absolute;
  width: 5px;
  height: 14px;
  left: 4px;
  top: 0px;
  -moz-animation-name: ball_moveG;
  -moz-animation-duration: 1.3s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -webkit-animation-name: ball_moveG;
  -webkit-animation-duration: 1.3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -ms-animation-name: ball_moveG;
  -ms-animation-duration: 1.3s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -o-animation-name: ball_moveG;
  -o-animation-duration: 1.3s;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;
  animation-name: ball_moveG;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

.ballG {
  position: absolute;
  left: 0px;
  top: -4px;
  width: 7px;
  height: 7px;
  background: #FFFFFF;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px; }

@-moz-keyframes ball_moveG {
  0% {
    -moz-transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(360deg); } }
@-webkit-keyframes ball_moveG {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }
@-ms-keyframes ball_moveG {
  0% {
    -ms-transform: rotate(0deg); }
  100% {
    -ms-transform: rotate(360deg); } }
@-o-keyframes ball_moveG {
  0% {
    -o-transform: rotate(0deg); }
  100% {
    -o-transform: rotate(360deg); } }
@keyframes ball_moveG {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/*# sourceMappingURL=style.css.map */
